export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"

plugins=(
  zsh-256color
  git
  dotenv
  docker
  zsh-autosuggestions
  zsh-vi-mode
)

source "{{ my_dir_env }}/load_env.sh

source $ZSH/oh-my-zsh.sh
