export JIRA_API_TOKEN="{{ custom.atlassian.jira.environment.JIRA_API_KEY }}"

jira() {
  op run --account "$ONE_PASSWORD_ACCOUNT" -- jira "$@"
}
compdef _jira jira

my-jira() {
  op run --account "$ONE_PASSWORD_ACCOUNT" -- jira issues list -a$(jira me) --order-by created
}
compdef _jira my-jira
