[user]
  name = "{{ custom.git.name }}"
  email = "{{ custom.git.email }}"

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  pl = pull
  ps = push

[core]
  excludesFile = "{{ home }}/.gitignore"

[diff]
  tool = meld

[difftool]
  prompt = false

[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld

[mergetool "meld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[pull]
	rebase = false

[url "git@github.com:"]
	insteadOf = https://github.com/
