[user]
  name = "{{ git.name }}"
  email = "{{ git.email }}"

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status

[core]
  excludesFile = "{{ home }}/.gitignore"

[diff]
  tool = meld

[difftool]
  prompt = false

[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
