alias phpuse80="sudo update-alternatives --set php /usr/bin/php8.0"
alias phpuse81="sudo update-alternatives --set php /usr/bin/php8.1"
alias phpuse82="sudo update-alternatives --set php /usr/bin/php8.2"
alias phpuse83="sudo update-alternatives --set php /usr/bin/php8.3"
